<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for joining us!</h1>
    <p>To verify your email address with us, please click the following secure link:</p>
    <a href="<%= @user =>">Verify Now</a>
  </body>
</html>